body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

#game-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

h1 {
    color: #333;
    margin-bottom: 10px;
}

#score-board {
    margin-bottom: 15px;
    font-size: 1.2em;
    font-weight: bold;
    color: #555;
}

#gameCanvas {
    border: 5px solid #333;
    background-color: #eee;
    display: block; /* Garante que não haja espaçamento indesejado */
}

#gameOverScreen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(255, 0, 0, 0.8);
    text-align: center;
    z-index: 100; /* Garante que fique acima do Canvas */
}

#gameOverScreen h2 {
    color: red;
    font-size: 2.5em;
    margin-bottom: 10px;
}

#gameOverScreen p {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: grey;
}

#finalScore {
    color: rgb(90, 197, 57);
}

#restartButton {
    padding: 10px 20px;
    font-size: 1.3em;
    font-weight: bold;
    color: #fff;
    background-color: #4CAF50; /* Verde */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#restartButton:hover {
    background-color: #45a049;
}

.hidden {
    display: none; /* Classe para esconder a tela de Game Over */
}

p {
    margin-top: 15px;
    color: #777;
    font-style: italic;
}

footer .autor {
    color: #333;
    font-weight: bold;
}

footer .autor span {
    color: #255dcd;
}

@media screen and (max-width:768px) {

    #gameOverScreen h2{
        font-size: 2rem;
    }

    #gameOverScreen p {
        font-size: 1.2rem;
    }

    #restartButton {
        font-size: 1.1rem;
    }

    #gameCanvas{
        width: 100%;
    }
}